@model IEnumerable<MagicUNI.Models.Studente>

@{
    ViewData["Title"] = "Index";
}

<h1>Index studenti</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Matricola)
                @Html.DisplayNameFor(model => model.Nome)
                @Html.DisplayNameFor(model => model.Cognome)
                @Html.DisplayNameFor(model => model.Facolta)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Matricola)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cognome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facolta)
            </td>

        </tr>
        }
    </tbody>
</table>